body{
    font-family:'Dosis','Helvetica Neue',Arial,sans-serif !important;
}
nav {

    color: white !important;
}
.probPara{
  width: 50%;
  padding: 10px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  }
  
  li{
  float: left;
  }
  
  li a {
  display: block;
  color: white;
  text-align: center;
  padding-left:20px;
  padding-right:20px;
  text-decoration: none;
  }
  
  li a:hover {
  color:black;
  
  }