body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    min-height: calc(100vh - 50px);
}

.webExamples{
    margin-top: 15%;
}

.fontshadow {
	text-shadow:
		-1px -1px 0 #7a7a7a54,
		1px -1px 0 #7a7a7a54,
		-1px 1px 0 #7a7a7a54,
		1px 1px 0 #7a7a7a54;
}

.footer {
    height: 50px;
}

.footcolor{
    background-color: #22222287 !important;
}

.navbar-inverse {
    background-color: #2220;
    border-color:#22222287;
    border-bottom-width: medium;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #22222287;
}

.navbar-inverse .navbar-brand{
    color: #333333;
}

.navbar-inverse .navbar-nav>li>a{
    color: #333333;
}

.back-image {
    background-image: url("photos/moutains1.jpeg");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.back-text {
    text-align: center;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.scrollimg{
    overflow: auto;
    height: calc(100vh - 270px);
}

.ro {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    padding-left: 15%;
}

/* Create four equal columns that sits next to each other */
.co {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.co img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 90%) {
    .co {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:  90%) {
    .co {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

#style-1::-webkit-scrollbar

.scrollbar {
	margin-left: 22px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

/**  STYLE 1 */
#style-1::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#style-1::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}