body {
    margin: 0;
    font-family: "Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;;
}

.content {
    min-height: calc(100vh - 50px);
}

.webExamples{
    margin-top: 150px;
}

.footer {
    height: 50px;
}

.footcolor{
    background-color: #22222287 !important;
}

.navbar-inverse {
    background-color: #2220;
    border-color:#22222287;
    border-bottom-width: medium;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #22222287;
}

.navbar-inverse .navbar-brand{
    color: #333333;
}

.navbar-inverse .navbar-nav>li>a{
    color: #333333;
}

.webExA a{
    color: #ffffff !important;
}

.linkF a{
    color: #ffffff !important;
}

.back-image {
    background-image: url("photos/moutains1.jpeg");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.back-text {
    text-align: center;
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

* {
    box-sizing: border-box;
}


.header {
    text-align: center;
    padding: 32px;
}

.scrollimg{
    overflow: auto;
    height: calc(100vh - 270px);
}

.ro {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    padding-left: 5%;
}

/* Create four equal columns that sits next to each other */
.co {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 33%;
    padding: 0 4px;
    background-color: #00000061;
}

.co img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 90%) {
    .co {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:  90%) {
    .co {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}