.nav {
    font-family:'Dosis','Helvetica Neue',Arial,sans-serif !important;
    color: white !important;
}

.titleHeader {
    font-family:'Dosis','Helvetica Neue',Arial,sans-serif !important;
}

.card-body{
    font-family:'Dosis','Helvetica Neue',Arial,sans-serif !important;
}